@model ProjetoMercadinho.DTO.ProdutoDTO
@{
    Layout = "_LayoutAdmin";
}
<script>
    $(document).ready(() => {
        $('#precoDeCust').maskNumber({ decimal: ',', thousands: '' });
        $('#precoDeVend').maskNumber({ decimal: ',', thousands: '' });
    });
</script>
<h3>Editar Produto</h3>
<hr>
<form class="form-horizontal" asp-controller="Produtos" asp-action="Atualizar" method="POST">
    <input type="hidden" asp-for="Id">

    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do Produto">
    <span asp-validation-for="Nome" class="text-danger"></span><br>

    <label asp-for="CategoriaID">Categoria</label>
    <select class="form-control" asp-for="CategoriaID"
        asp-items='@(new SelectList(@ViewBag.Categorias,"Id","Nome"))'></select><br>

    <label asp-for="FornecedorID">Fornecedor</label>
    <select class="form-control" asp-for="FornecedorID"
        asp-items='@(new SelectList(@ViewBag.Fornecedores,"Id","Nome"))'></select><br>

    <label asp-for="PrecoDeCusto">Preço de Custo</label>
    <input class="form-control" id="precoDeCust" asp-for="PrecoDeCusto" placeholder="ex: 10.99">
    <span asp-validation-for="PrecoDeCusto" class="text-danger"></span><br>

    <label asp-for="PrecoDeVenda">Preço de Venda</label>
    <input class="form-control" id="precoDeVend" asp-for="PrecoDeVenda" placeholder="ex: 20.99">
    <span asp-validation-for="PrecoDeVenda" class="text-danger"></span><br>

    <label asp-for="Medicao">Unida de Medida</label>
    <select class="form-control" asp-for="Medicao">
        <option value="0">Litro</option>
        <option value="1">Kilo</option>
        <option value="2">Unidade</option>
    </select><br>

    <button class="btn btn-success">Atualizar</button>
</form>