@model ProjetoMercadinho.DTO.PromocaoDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Nova Promoção</h3>
<hr>
<form class="form-horizontal" asp-controller="Promocoes" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">

    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da Promoção">
    <span asp-validation-for="Nome" class="text-danger"></span><br>

    <label asp-for="ProdutoID">Produto</label>
    <select class="form-control" asp-for="ProdutoID"
        asp-items='@(new SelectList(@ViewBag.Produtos,"Id","Nome"))'></select><br>

    <label asp-for="Nome">Porcentagem</label>
    <input type="number" min="0" max="100" asp-for="Porcentagem" class="form-control" placeholder="ex: 10%">
    <span asp-validation-for="Porcentagem" class="text-danger"></span><br>

    <button class="btn btn-success">Cadastrar</button>
</form>